*{
    margin: 0;
    padding: 0;
}
.outside-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image:url("./images/bg-pattern-top.svg"),url("./images/bg-pattern-bottom.svg");
    background-color: hsl(185, 75%, 39%);
    background-position: -300px -500px,700px 500px;
    background-repeat: no-repeat;
}
.container{
    width: 380px;
    background-color: white;
    border-radius: 20px;
    font-family: "Kumbh Sans";
}
header{
    background-image: url("./images/bg-pattern-card.svg");
    height: 150px;
    border-radius: 20px 20px 0 0;
}
.avatar{
    width: 100px;
    display: block;
    margin: auto;
    border: 7px solid white;
    border-radius: 50%;
    margin: -50px auto;
}
main{
    text-align: center;
}
h1{
    margin-top: 70px;
}
span{
    color: hsla(0, 0%, 59%, 1);
    font-size: 1.5rem;
    font-weight: lighter;

}
.location{
    color: hsl(0, 0%, 59%);
    line-height: 2;
    font-weight: 500;
}
.stats{
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.personal-info{
    border-bottom: 1.5px solid hsla(0, 0%, 59%, .2);
    padding-bottom: 2rem;
}

ul{
    list-style: none;

   
}
.value{
    font-size: 1.6rem;
    font-weight: bold;
   
}
.text{
    color: hsl(0, 0%, 59%);
    font-family: inherit;
    font-size: .9rem;
    letter-spacing: 2px;
}
@media (min-width: 600px) {
    .container{
        min-width: 450px;

    }
}